.HTML {
    
}
body {
    
}
.TopDIV {
    vertical-align: top;
    height: 1.9cm;
    margin-top: none;
    width: 40m;
    
    
}
.ListBox1 {
    text-align: center;

}
.EnterPriseul {
    display: inline-flex;
    padding: 15px;
    margin: 15px;
  
}
.SMEul {
    display: inline-flex;
    padding: 15px;
    margin: 5px;
}
.Personalul {
    display: inline-flex;
    padding: 15px;
    margin: 5px;
}
.Resourcesul {
    display: inline-flex;
    padding: 15px;
    margin: 5px;
}
.Developerul {
    display: inline-flex;
    padding: 15px;
    margin: 5px;
}
.Companyul {
    display: inline-flex;
    padding: 15px;
    margin: 5px;
}
.TD {
    margin-bottom: none;
}
.droplink:hover {
  color: aqua
}
.droplink2:hover {
  color: aqua
}
.droplink3:hover {
  color: aqua
}
.droplink4:hover {
  color: aqua
}
.droplink5:hover {
  color: aqua
}.droplink6:hover {
  color: aqua
}
.droplink {
   padding: 16px;
  font-size: 16px;
  border: none;
}
.droplink2 {
   padding: 16px;
  font-size: 16px;
  border: none;
}
.droplink3 {
   padding: 16px;
  font-size: 16px;
  border: none;
}
.droplink4 {
   padding: 16px;
  font-size: 16px;
  border: none;
}
.droplink5 {
   padding: 16px;
  font-size: 16px;
  border: none;
}
.droplink6{
   padding: 16px;
  font-size: 16px;
  border: none;  
}
.drop-downcontent{
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}
.drop-downcontent2{
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}
.drop-downcontent3{
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}
.drop-downcontent4{
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}
.drop-downcontent5{
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}
.drop-downcontent6{
  display: none;
  position: absolute;
  min-width: 160px;
  z-index: 1;
}
.EnterPriseul:hover .drop-downcontent {display:inline-block;}
.SMEul:hover .drop-downcontent2 {display: inline-block;}
.Personalul:hover .drop-downcontent3 {display: inline-block;}
.Resourcesul:hover .drop-downcontent4 {display: inline-block;}
.Developerul:hover .drop-downcontent5 {display: inline-block;}
.Companyul:hover .drop-downcontent6 {display: inline-block;}

.EnterPriseul:hover .droplink {color: aqua;}
.SMEul:hover .droplink2 {color: aqua;}
.Personalul:hover .droplink3 {color: aqua;}
.Resourcesul:hover .droplink4 {color: aqua;}
.Developerul:hover .droplink5 {color: aqua;}
.Companyul:hover .droplink6 {color: aqua;}